---
import { getCollection } from "astro:content"
import { Icon } from "astro-icon"

import Container from "../components/Container.astro"
import Layout from "../layouts/Layout.astro"
import Brew from "../components/Brew.astro"
import Nav from "../components/Nav.astro"

const brews = await getCollection("brews")

const navOptions = brews.map((brew) => ({
  value: brew.slug,
  label: brew.data.title,
}))
---

<Layout>
  <Container>
    <header class="my-8 flex items-center justify-between">
      <h1 class="text-xl font-bold tracking-tight text-stone-900">brew.</h1>
      <a
        class="inline-flex cursor-default items-center rounded-xl border border-stone-200 bg-stone-50 px-4 py-2 text-sm font-medium text-stone-900 shadow-sm"
        href="https://open.spotify.com/playlist/7aOX137yLhicZzbshZ1jfw?si=09c3458213604328"
        target="_blank"
      >
        <Icon name="radix:speaker-moderate" class="mr-2 h-4 w-4" />
        Playlist
      </a>
    </header>

    <Nav options={navOptions} />

    <ul class="mt-8 space-y-8">
      {brews.map((brew) => <Brew brew={brew} />)}
    </ul>
  </Container>
</Layout>
