---
import "@fontsource/ia-writer-quattro"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="https://emojicdn.elk.sh/☕" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Brewguide</title>
  </head>
  <body class="antialiased bg-gray-50 text-gray-700">
    <slot />
  </body>
</html>
