<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="https://emojicdn.elk.sh/☕" />
    <link rel="preconnect" href="https://fonts.bunny.net" />
    <link
      href="https://fonts.bunny.net/css?family=bricolage-grotesque:400,500,700"
      rel="stylesheet"
    />

    <link rel="apple-touch-icon" href="icon-192x192.png" />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)"
      href="splash.png"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-title" content="Brew" />
    <meta name="mobile-web-app-status-bar-style" content="black-translucent" />
    <title>brew</title>
    <style is:global>
      body {
        -webkit-user-select: none;
      }

      ol li {
        line-height: 1.5;
        list-style-position: outside;
        list-style-type: decimal;
        margin-block-start: 6px;
        margin-left: 17px;
        padding-left: 4px;
      }
    </style>
  </head>
  <body class="bg-stone-50 p-4 pb-32 text-stone-700 antialiased">
    <slot />
  </body>
</html>
